{:paths ["src" "classes"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}}
   :main-opts ["-m" "kaocha.runner"]}
  :test-dev
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}}
   :main-opts ["-m" "kaocha.runner" "--watch"]}}}
